<h1><%= @announcement.title %></h1>

<p><%= @announcement.organization.name %> shared a new announcement with you.</p>

<div style="white-space: pre-line"><%= @announcement.body %></div>

<p>Posted by <%= @announcement.author.name %>.</p>

<p><%= link_to "Open this announcement in Tabled", @announcement_url %></p>
